.top-padding-20 {
  padding-top: 20px;
}

.top-padding-40 {
  padding-top: 40px;
}

.top-padding-10 {
  padding-top: 10px;
}

.top-padding-40 {
  padding-top: 40px;
}

.pd-bottom-20 {
  padding-bottom: 20px;
}

.pd-bottom-40 {
  padding-bottom: 40px;
}
